{% extends "public/templates/public_template.html" %}

{% block title %}Upload new document to be delivered to the users depending on their profile{% endblock %}

{% block main %}

<form action="/upload_doc" method="POST">

    <div class="form-group">
        <label for="formGroupExampleInput">Document Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="">
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput2">Document body</label>
        <input type="text" class="form-control" id="body" name="body" placeholder="">
    </div>
    {% if feedback %}
    <div class="alert alert-primary" role="alert">
        {{ feedback }}
    </div>
    {% endif %}          

    <button type="submit" class="btn btn-primary">Upload</button>

</form>

{% if result_clean %}
<div class="alert alert-primary" role="alert">
    {{ result_clean }}
</div>
{% endif %}

{% endblock %}
